

.body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: auto;
  display: flex;
  flex: 1;
  background-size: contain;
  background-color: blueviolet;
}



.header {
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: underline;
  font-size: 35px;
  color: rgb(8, 8, 85);
  margin-left: 25px;
  margin-top: 10px;
}

.middle-section {
  flex: 1;
  margin-left: 150px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.list-container {
  position: relative;
  color: rgb(191, 191, 204);
  margin-top: -30px;
  background-color: rgb(4, 4, 94);
  border-color: grey;
  height: 30px;
  width: 80px;
  border-radius: 15px;
  border-style: solid;
  cursor: pointer;
}

.list-container .tooltip {
  position: absolute;
  color: white;
  background-color: rgb(68, 6, 104);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: opacity 0.15s;
  bottom: -75px;
  left: -50px;
  min-width: 180px;
}


.list-container:hover .tooltip {
  opacity: 1;
  cursor: pointer;
}

.website-info {
  display: flex;
}

.services-info {
  margin-top: 90px;
  color: rgb(63, 8, 114);
}

p {
  margin-bottom: 60px;
  margin-top: 50px;
}

.redirect {
  display: flex;
}

.redirect-button {
  margin-top: 90px;
  margin-left: 15px;
  height: 60px;
  width: 120px;
  background-color: rgb(9, 9, 61);
  color: aqua;
  border-color: blanchedalmond;
  border-style: solid;
  border-radius: 30px;
  cursor: pointer;
}
